.header {
  clear: both;
}

.header-title, .header-date {
  display: inline-block;
  padding: 1.5em 6vw;
  font-size: 0.7em;
}

.header-title {
  left: 0;
  border-right: 1px solid rgba(105, 105, 106, 0.4);
}

.header-date {
  right: 0;
  border-left: 1px solid rgba(105, 105, 106, 0.4);
  float: right;
}
