.big-number {
  font-family: 'Tiempos';
  font-size: 2.5em;
  font-weight: bold;
  display: inline-block;
}

.presentation {
  padding: 1em 0;
	position: relative
}

.presentation-info {
  display: inline-block;
	padding-left: 7em;
}

.presentation-title {
  display: block;
	font-size: 1.5em;
	margin-bottom: 0.2em;
}

.presentation-speaker {
  color: rgb(195, 83, 79);
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
