.visitors-head {
  padding: 1em 0;
  position: relative;
}

.visitors-head .chevron {
  margin-right: 1em;
  color: rgb(105, 105, 106);
}

.visitors-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.visitors-host {
  font-size: 0.7em;
  position: absolute;
  right: 3em;
  bottom: 1.5em;
	color: rgb(195, 83, 79)
}

.visitors-description {
  margin-top: 1em;
  padding-right: 3em;
}

.visitors {
	cursor:pointer;
}
