@font-face {
  font-family: 'Fabriga';
  src: url('./assets/__Fabriga/Fabriga-Light.otf');
  font-style: 'normal';
  font-weight: 400;
}

@font-face {
  font-family: 'Fabriga';
  src: url('./assets/__Fabriga/Fabriga-Medium.otf');
  font-style: 'normal';
  font-weight: bold;
}

@font-face {
  font-family: 'Tiempos';
  src: url('./assets/Tiempos Headline Bold.otf');
  font-style: 'normal';
  font-weight: bold;
}

body {
  font-family: 'Fabriga', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
	background-color: rgb(23, 23, 30);
}

.App {
  background-color: rgb(23, 23, 30);
  color: rgb(234, 234, 234);
}

h1 {
  font-size: 3.2em;
}

.default-margin {
  margin-bottom: 2em;
}

.compact-title {
  margin: 0.4em 0;
	font-weight: normal;
}

.block-text {
  text-transform: uppercase;
  font-weight: bold;
	letter-spacing: 0.15em;
	color: rgb(195, 83, 79);
	font-size:0.8em;
}

.header .block-text { color: #fff; }

.long-text {
  width: 50%;
  margin: 0;
	color: #a7a7a7;
}

.line-bottom {
  border-bottom: 1px solid rgba(105, 105, 106, 0.4);
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: rgba(105, 105, 106, 0.4);
}

.vcenter {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.list li { padding: 0.3em 0 0.3em 0; }

.byebye {
	  font-size: 1em;
    background: #198fc1;
    border: none;
    padding: 0.3em 0.7em;
    color: white;
    border: 1px solid #2998c5;
    border-radius: 3px;
    display: block;
    margin-top: 2em;
		cursor:pointer;
		transition: opacity 0.3 ease-out;
}

.byebye:hover {
	opacity: 0.6;
}

.title-cover {
	margin: 0;
	padding: 0;
	font-size: 5em;
	margin-top: -15px;
	color:
}

.date-cover {
	font-size: 1.5em;
	margin-left: 0.6em;
}
